@model IEnumerable<NBS.Tb_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SidePanel.cshtml";
}

<div class="row mb-2">
    <div class="col col-lg-12">
        <h3><strong>Services Category Information</strong></h3>
        <hr />
        @using (Html.BeginForm("Index", "Type", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="input-group">
                <select class="form-control" name="sType">
                    <option value="">Select Category</option>
                    @foreach (var oType in Model)
                    {
                        <option value="@oType.Type">@oType.Type</option>
                    }
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-search mr-2"></i>Search
                    </button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Type")">
                        <i class="fas fa-redo mr-2"></i>Reset
                    </a>
                    <a href="@Url.Action("Create", "Type")" class="btn-data btn btn-outline-success">
                        <i class="fas fa-plus mr-2"></i>Create
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="960px">Category</th>
                    <th scope="col" width="120px">Amount</th>
                    <th scope="col" width="40px">Status</th>
                    <th scope="col" width="120px">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="margin-left:auto;">
                        <td style="padding: .02rem .2rem;">
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.MonAmt)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
